body {text-align: center;
      background-color: #F4A460;}

h1 {color: black;
    font-family: Lucida Handwriting, sans-serif;}

h2 {color: black;
    font-family: Garamond, sans-serif;}

h6 {font-family: Garamond, sans-serif;
    font-size: 17px;
    color: black;
    margin-top: 0px;}

h3 {font-family: Garamond, sans-serif;
    color: black;
    font-size: 30px;}

p {font-family: Lucida Handwriting, sans-serif;
   color: black;
   font-size: 25px;}

input, label, button {display: block;
                      margin: 10px auto;
                      font-size: 23px;}

button:hover {background-color: #D2691E;
              color: white;
              cursor: pointer;}

button {font-family: Garamond;
        font-size: 25px;
        }